<h1>Order #<%= @order.id %></h1>
<p>Total: <%= number_to_currency(@order.total_cents / 100.0) %></p>
<h2>Items:</h2>
<ul>
  <% @order.order_items.each do |item| %>
    <li>
      <%= item.product.name %> - Quantity: <%= item.quantity %> - Price: <%= number_to_currency(item.price) %>
    </li>
  <% end %>
</ul>
