<h1 class="page-title"><%= ActsAsTenant.current_tenant.name %> - Products</h1>

<nav class="navigation">
  <%= link_to "Products", admin_tenant_products_path(ActsAsTenant.current_tenant), class: 'nav-link' %>
  <%= link_to "Orders", admin_tenant_orders_path(ActsAsTenant.current_tenant), class: 'nav-link' %>
</nav>

<div class="products-container">
   <div class="product-card add-product-card">
    <%= link_to new_admin_tenant_product_path(ActsAsTenant.current_tenant), class: "add-product-link" do %>
      <div class="add-product-content">
        <div class="add-icon">+</div>
        <div>Add New Product</div>
      </div>
    <% end %>
  </div>

  <% @products.each do |product| %>
    <div class="product-card">
      <h2 class="product-name">
        <%= link_to product.name, admin_tenant_product_path(ActsAsTenant.current_tenant, product) %>
      </h2>
      <p class="product-description"><%= product.description %></p>
      <p class="product-price">Price: <strong><%= number_to_currency(product.price) %></strong></p>
      <p class="product-stock">Stock: <%= product.stock %> items</p>
      
      <!-- Links for CRUD actions -->
      <div class="product-actions">
        <%= link_to 'Edit', edit_admin_tenant_product_path(ActsAsTenant.current_tenant, product), class: 'btn btn-edit' %>
        <%= form_with url: admin_tenant_product_path(ActsAsTenant.current_tenant, product), method: :delete, local: true do |form| %>
          <%= form.submit 'Delete', class: 'btn btn-delete', data: { confirm: 'Are you sure you want to delete this product?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
